<!--
  Generated template for the ProductInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{product?.name}}</ion-title>
    <ion-buttons end *ngIf="product.uid === uid">
      <button ion-button navPush="EditProductPage" [navParams]="{product: product}"><ion-icon name="create"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <img src="assets/imgs/default_product.jpg">
  <div class="profile-container">
    <div class="user-avatar">
      <img src="assets/imgs/default_user.jpg">
      <!-- <div *ngFor="let userD of user | async">
        <h2 *ngIf="userD.uid === product.uid">{{userD.name}}</h2>
      </div> -->
    </div>
    <div>
      <h4>RM{{product.price}}</h4>
      <p>{{product.description}}</p>
      <h5 *ngIf="product.variant">Variants</h5>
      <ion-item *ngFor="let variant of product.variant; let i= index">
        <h2>{{variant.name}}<span>RM{{variant.price}}</span></h2>
      </ion-item>
    </div>
    <div *ngIf="product.uid != uid">
      <div *ngFor="let user of users | async">
        <div *ngIf="user.uid == uid">
          <button ion-button block (click)="singleOrderModal(product.uid, user.name)" *ngIf="product.variant == ''">Order Now</button>
          <button ion-button block (click)="variantOrderModal(product.uid, user.name)" *ngIf="product.variant">Order Now</button>
        </div>
      </div>
    </div>
  </div>

</ion-content>
