<!--
  Generated template for the MyCirclePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>My Circle</ion-title>
    <ion-buttons end>
      <button ion-button navPush="AddCirclePage"><ion-icon name="person-add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>{{ followerStr }}</ion-label>
    <ion-toggle [(ngModel)]="circleDisplay" (ionChange)="updateCircleList()"></ion-toggle>
  </ion-item>
  <div [hidden]="circleDisplay == true">
    <ion-list *ngFor="let circle of circleList | async">
      <ion-item *ngIf="circle.followee_uid == uid">
        <ion-avatar item-start>
          <img src="assets/imgs/default_user.jpg">
        </ion-avatar>
        <h2 *ngFor="let user of userDetails | async">
          <h5 *ngIf="user.uid == circle.follower_uid">{{ user.name }}</h5>
        </h2>
      </ion-item>
    </ion-list>
  </div>
  <div [hidden]="circleDisplay == false">
    <ion-list *ngFor="let circle of circleList | async">
      <ion-item  *ngIf="circle.follower_uid == uid">
        <ion-avatar item-start>
          <img src="assets/imgs/default_user.jpg">
        </ion-avatar>
        <h2 *ngFor="let user of userDetails | async">
          <h5 *ngIf="user.uid == circle.followee_uid">{{ user.name }}</h5>
        </h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
