<!--
  Generated template for the MyCirclePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>My Circle</ion-title>
    <ion-buttons end>
      <button ion-button navPush="AddCirclePage"><ion-icon name="person-add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>{{ followerStr }}</ion-label>
    <ion-toggle [(ngModel)]="circleDisplay" (ionChange)="updateCircleList()"></ion-toggle>
  </ion-item>
  <div [hidden]="circleDisplay == true">
    <!-- <ion-item>{{ (circleList | async)?.length }}</ion-item> -->
    <ion-list *ngFor="let circle of circleList | async">
      <div *ngFor="let user of userDetails | async">
        <ion-item *ngIf="circle.followee_uid == uid && user.uid == circle.follower_uid" (click)="editCircle('follower', circle, user.name)">
          <ion-avatar item-start>
            <img src="assets/imgs/default_user.jpg">
          </ion-avatar>
          <!-- {{circle.username}} -->
          <h2>
            <h5>{{ user.name }}<span class="text-warning" [hidden]="circle.status != 'Blocked'">{{ circle.status }}</span></h5>
          </h2>
          <!-- <h2>
            <h5>{{ circle.follower_uid }}</h5>
          </h2> -->
        </ion-item>
      </div>
    </ion-list>
  </div>
  <div [hidden]="circleDisplay == false">
    <ion-list *ngFor="let circle of circleList | async">
      <div *ngFor="let user of userDetails | async">
        <ion-item *ngIf="circle.follower_uid == uid && user.uid == circle.followee_uid" (click)="editCircle('followee', circle, user.name)">
          <ion-avatar item-start>
            <img src="assets/imgs/default_user.jpg">
          </ion-avatar>
          <!-- {{circle.username}} -->
          <h2>
            <h5>{{ user.name }}<span class="text-warning" [hidden]="circle.status != 'Blocked'">{{ circle.status }}</span></h5>
          </h2>
          <!-- <h2>
            <h5>{{ circle.follower_uid }}</h5>
          </h2> -->
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>
