#badge-button {            
  position: relative;
  width: 42px;
  top:1px;
  right: 1px;
  overflow: visible!important;
}


#badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}

.status-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.new {
  background: red;
}

.processed {
  background: green;
}