.item {
  padding-left: 0;
}

.button {
  margin-top: 20px;
}

#badge-button {            
  position: relative;
  width: 42px;
  top:1px;
  right: 1px;
  overflow: visible!important;
}

#badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}

.status-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.new {
  background: red;
}

.processed {
  background: green;
}

ion-icon {
  font-size: 1.5em;
}

.searchbar-clear-icon {
  margin-top: 0;
}

.text {
  &-pass {
    color: map-get($colors, primary) !important;
  }
  &-danger {
    color: map-get($colors, danger) !important;
  }

  &-warning {
    color: map-get($colors, warning) !important;
  }
}