<!--
  Generated template for the OrderInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Order Details</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/default_user.jpg">
      </ion-avatar>
      <h2>{{ order.from_name }}</h2>
      <h3>{{ order.product_name }}</h3>
      <p>
        {{ order.date | date: 'MMM dd yyyy hh:mm a' }}
        <span *ngIf="order.status === 'New'" class="status-bullet new right"></span>
        <span *ngIf="order.status === 'Processed'" class="status-bullet processed right"></span>
      </p>
    </ion-item>
  </ion-list>
  <div *ngIf="order.variant">
    <div *ngFor="let variant of order.variant">
      <ion-item>
        <h2>{{ variant.name }}</h2>
        <h2>{{ variant.quantity }} pcs<span class="right">RM{{ variant.price }}</span></h2>
      </ion-item>
    </div>
  </div>
  <ion-item *ngIf="!order.variant">
    <h2>{{ order.product_name }}</h2>
  </ion-item>
  <ion-item>
    <h2>
      <span>{{ order.total_quantity }} pcs</span>
      <!-- <span *ngIf="order.variant">Total</span> -->
      <span class="right">RM{{ order.total_price }}</span>
    </h2>
  </ion-item>
  <div *ngIf="order.to_uid === uid">
    <button ion-button block color="secondary" *ngIf="order.status === 'New'">Processed</button>
    <button ion-button block color="secondary" *ngIf="order.status === 'Processed'">Completed</button>
  </div>
</ion-content>
