<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Orders</ion-title>
    <!-- <ion-buttons end>
      <button ion-button (click)="addOrder()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngFor="let order of orders | async">
    <div *ngIf="order.from_uid == uid || order.to_uid == uid">
      <ion-item (click)="presentOrderModal(order)">
        <ion-avatar item-start>
          <img src="assets/imgs/default_user.jpg">
        </ion-avatar>
        <h2>
          <h5 *ngIf="order.from_uid === uid">{{order.to_name}}</h5>
          <h5 *ngIf="order.from_uid != uid">{{order.from_name}}</h5>
          <span *ngIf="order.status === 'New'" class="status-bullet new"></span>
          <span *ngIf="order.status === 'Processed'" class="status-bullet processed"></span>
        </h2>
        <h3>{{ order.product_name }}</h3>
        <p>{{ order.total_quantity }} pcs<span>{{ order.date | date: 'MMM dd yyyy hh:mm a' }}</span></p>
      </ion-item>
    </div>
  </div>
</ion-content>
